#navbar{
  @apply
  w-full
  h-[80px]
  bg-[#FFFFFF]
  flex
  items-center
}
.navbar-row{
  @apply
  flex
  justify-between
  items-center
}
.navbar-logo{
  @apply
  w-[170px]
}
.navbar-menu{
  @apply
  flex
  gap-[15px]
}
.navbar-menu li{
  @apply
  font-poppins
  font-semibold
  text-[#494949]
  hover:text-brandColor
  transition-all
}
.navbar-profile{
  @apply
  flex
  gap-[10px]
}
.navbar-profile .dashboard{
  @apply
  font-poppins
  py-[10px]
  px-[20px]
  bg-brandColor
  text-white
  rounded-lg
  text-[14px]
  font-semibold
}
.navbar-profile .profile{
  @apply
  px-[15px]
  py-[10px]
  bg-gray-100
  rounded-lg
  transition-all
  hover:bg-brandColor
  hover:text-white
  relative
}
.navbar-profile .profile ul{
  @apply
  absolute
  left-[50%]
  top-[100%]
  w-[100px]
  translate-x-[-50%]
  flex
}
.navbar-profile .profile ul li{
  @apply
  py-[10px]
  bg-white
  font-poppins
  font-medium
  text-[14px]
  text-[#434343]
  px-[35px]
  rounded-md
  shadow-md
  shadow-gray-300
  hover:bg-gray-100
  transition-all
}